@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css2?family=Permanent+Marker);
@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue);
@import url(https://fonts.googleapis.com/css2?family=Special+Elite);

body{
  text-align:center;
  background-attachment: fixed;
      background-size: cover;
      display: grid;
      align-items: center;
      justify-content: center;
      height: 50vw;
}
.container {
    width: 100%;
    height: 100%;
    /* box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); */
    border-radius: 5px;
    position: absolue;
    z-index: -1;
    background: inherit;
    overflow: hidden;
}
.container:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5); */
    filter: blur(10px);
    margin: -20px;
}
h1{
  font-size: 4em;
  font-family: 'Permanent Marker', cursive;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: red;
}
h1:hover {
  color: #f44336;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
button:hover{
  background-color: #f44336;
  color: black;
}
button{
  background-color: black;
  color: white;
}
p{
  font-family: 'Special Elite', cursive;
  font-size: 1em;
}
a,a:active, a:visited{
  font-family: 'Special Elite', cursive;
  font-size: 0.9em;
  color:black;
  background-color: white;
  text-shadow: 2px 2px 4px #000000;
  text-decoration: none;
}
a:hover{
  font-family: 'Special Elite', cursive;
  background-color:red;
  color:white;
  text-decoration: none;
}
img{
  border-style: solid;
  border-width: 5px;
  border-color: gold;
}
.results{
  width: 800px;
  padding:10px;
  background-color: #f44336;
  color:white;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}
